<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.board.repository.mybatis.BoardMapper">
    <select id="selectBoard" parameterType="int" resultType="Boardd">
        select b_id, writer, pwd, email, title, writedate, readed, content
        from board
        order by b_id desc
        limit #{begin}, #{numPerPage}
    </select>
    <select id="selectBoardTitle" resultType="Boardd">
        select b_id, writer, pwd, email, title, writedate, readed, content
        from board
        where title like CONCAT('%',#{searchWord},'%')
        order by b_id desc
        limit #{begin}, #{numPerPage}
    </select>
    <select id="selectBoardContent" resultType="Boardd">
        select b_id, writer, pwd, email, title, writedate, readed, content
        from board
        where content like CONCAT('%',#{searchWord},'%')
        order by b_id desc
        limit #{begin}, #{numPerPage}
    </select>
    <select id="selectBoardWriter" resultType="Boardd">
        select b_id, writer, pwd, email, title, writedate, readed, content
        from board
        where writer like CONCAT('%',#{searchWord},'%')
        order by b_id desc
        limit #{begin}, #{numPerPage}
    </select>
    <select id="selectBoardBoth" resultType="Boardd">
        select b_id, writer, pwd, email, title, writedate, readed, content
        from board
        where title like CONCAT('%',#{searchWord},'%') or content like CONCAT('%',#{searchWord},'%')
        order by b_id desc
        limit #{begin}, #{numPerPage}
    </select>
    <update id="increaseReaded" parameterType="Long">
        update board
        set readed  = readed + 1
        where b_id = #{seq}
    </update>
    <select id="getPwd" resultType="String">
        select pwd
        from board
        where b_id = #{seq}
    </select>
    <delete id="deleteBoard">
        delete from board
        where b_id = #{seq}
    </delete>
    <update id="updateBoard">
        update board
        set writer= #{writer}, pwd = #{pwd}, email = #{email}, title = #{title}, content = #{content}
        where b_id = #{seq}
    </update>
</mapper>