<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.board.repository.mybatis.BoardMapper">
    <select id="selectBoard" resultType="Boardd">
        select b_id, writer, pwd, email, title, writedate, readed, content
        from board
        order by b_id desc
        limit #{begin}, #{numPerPage}
    </select>
</mapper>